:root {
  --primary-text-color: #757575;
  --web-logo-color: #2196f3;
  --studio-logo-color: #000000;
  --fover-focus-color: #2196f3;
  --headers-text-color: #212121;
  --hero-footer-color: #2f303a;
  --last-section-color: #f5f4fa;
  --button-color: #2196f3;
  --white-color: #ffffff;
  --back-ground-btn: #f5f4fa;
  --fill-color: #afb1b8;
}

.list {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 0;
  list-style: none;
}

body {
  font-family: Roboto, sans-serif;
  color: var(--primary-text-color);
  letter-spacing: 0.03em;
  font-size: 14px;
  background-color: var(--white-color);
  display: flex;
  flex-direction: column;
}

body.modal-open {
  overflow: hidden;
}

img {
  display: block;
}

p,
h1,
h2,
h3,
h4 {
  margin: 0;
}

a {
  text-decoration: none;
}

.container {
  max-width: 480px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover, .link:focus {
  color: var(--fover-focus-color);
}

.visually-hidden {
  position: fixed;
  transform: scale(0);
}

.list-flex {
  display: flex;
  justify-content: space-between;
}

.hat {
  border-bottom: 1px solid #ececec;
}

.hat__container {
  display: flex;
  position: relative;
}

@media screen and (min-width: 1200px) {
  .hat__container {
    display: flex;
  }
}

.hat__menu-open-btn {
  border: none;
  display: block;
  padding: 0;
  width: 40px;
  height: 40px;
  background-color: #ffffff;
}

@media screen and (min-width: 768px) {
  .hat__menu-open-btn {
    display: none;
  }
}

.hat__icon:hover,
.hat__icon:focus {
  fill: #2196f3;
}

.hat__menu-open-btn.is-open .hat__icon-menu {
  display: none;
}

.hat__menu-open-btn.is-open .hat__icon-cross {
  display: block;
}

.hat__icon-cross {
  display: none;
}

@media screen and (max-width: 767px) {
  .button-container {
    display: flex;
    justify-content: cernter;
    align-items: center;
    margin-left: auto;
  }
}

@media screen and (min-width: 768px) {
  .button-container {
    display: none;
  }
}

.hat__menu-container {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  padding-left: 40px;
  padding-bottom: 48px;
  padding-top: 48px;
  background: #ffffff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
  display: none;
}

@media screen and (max-width: 767px) {
  .is-open {
    display: block;
  }
}

.menu-list {
  margin-bottom: 306px;
}

.menu-list__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  color: #212121;
}

.menu-contact-list {
  margin-bottom: 64px;
}

.menu-contact-list__link {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: #757575;
}

.menu-contact-list__link:hover, .menu-contact-list__link:focus {
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
}

.menu-social-list__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.menu-social-list {
  display: flex;
}

.menu-list__item:not(:last-child) {
  margin-bottom: 32px;
}

.menu-contact-list__item:not(:last-child) {
  margin-bottom: 32px;
}

.menu-social-list__item:not(:last-child) {
  margin-right: 20px;
}

.logo {
  text-align: center;
  display: block;
  font-family: Raleway;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.3;
  letter-spacing: 0.03em;
  color: var(--web-logo-color);
  display: flex;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .logo {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

@media screen and (min-width: 768px) {
  .logo {
    margin-right: 88px;
  }
}

@media screen and (min-width: 1200px) {
  .logo {
    margin-right: 94px;
    text-align: center;
    display: block;
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.3;
    letter-spacing: 0.03em;
    color: var(--web-logo-color);
    display: flex;
    align-items: center;
  }
}

.logo__text {
  color: var(--studio-logo-color);
}

@media screen and (max-width: 1199px) {
  .contact-list {
    padding-top: 21px;
    padding-bottom: 21px;
    margin-left: auto;
  }
}

@media screen and (min-width: 1200px) {
  .contact-list {
    display: flex;
    margin-left: auto;
  }
}

@media screen and (max-width: 767px) {
  .contact-list {
    display: none;
  }
}

@media screen and (max-width: 1199px) {
  .contact-list__item:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .contact-list__item:not(:last-child) {
    margin-right: 50px;
  }
}

.contact-link {
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  fill: currentColor;
  display: flex;
  align-items: center;
}

@media screen and (min-width: 1200px) {
  .contact-link {
    padding-top: 25px;
    padding-bottom: 25px;
  }
}

@media screen and (min-width: 1200px) {
  .contact-list__icon {
    margin-right: 10px;
  }
}

@media screen and (max-width: 1199px) {
  .contact-list__icon {
    margin-right: 8px;
  }
}

.navigation-list {
  align-items: center;
}

@media screen and (max-width: 767px) {
  .navigation-list {
    display: none;
  }
}

.navigation-list__item:not(:last-child) {
  margin-right: 50px;
}

.navigation {
  display: flex;
}

.navigation__link {
  color: var(--headers-text-color);
  font-weight: 500;
  text-align: center;
  line-height: 1.1;
  letter-spacing: 0.02em;
  padding-bottom: 32px;
  padding-top: 32px;
}

.navigation__link::after {
  content: "";
  width: 100%;
}

@media screen and (min-width: 1200px) {
  .navigation__link {
    padding-top: 25px;
    padding-bottom: 25px;
  }
}

.navigation__link--current {
  color: var(--fover-focus-color);
  position: relative;
}

.navigation__link--current::after {
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--fover-focus-color);
  position: absolute;
  left: 0;
  bottom: 0;
}

.hero__container {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
  background-color: var(--hero-footer-color);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("/images/header480@1x.png");
  background-position: center;
  background-size: cover;
  max-width: 480px;
  min-height: auto;
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero__container {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("/images/Header-image@2x.png");
  }
}

@media screen and (min-width: 768px) {
  .hero__container {
    max-width: 768px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("/images/header-img-768@1x.png");
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero__container {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("/images/header-img768@2x.png");
  }
}

@media screen and (min-width: 1200px) {
  .hero__container {
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("/images/Img-hero.jpg");
    background-position: center;
    background-size: cover;
    max-width: 1600px;
    min-height: 600px;
  }
}

.hero__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
  color: var(--white-color);
}

@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.4;
  }
}

.hero__button {
  display: inline-block;
  align-items: center;
  text-align: center;
  padding: 10px 32px;
  background-color: var(--button-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  border-radius: 4px;
  letter-spacing: 0.06em;
  color: var(--white-color);
  cursor: pointer;
  border: 0px;
}

@media screen and (min-width: 768px) {
  .skill-list {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .skill-list {
    flex-wrap: nowrap;
  }
}

.skill-list__item {
  max-width: 100%;
}

@media screen and (min-width: 768px) {
  .skill-list__item {
    max-width: calc(100% / 2 - 30px);
  }
}

@media screen and (min-width: 768px) {
  .skill-list__item:nth-child(2n + 1) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .skill-list__item {
    max-width: 270px;
  }
  .skill-list__item:not(:last-child) {
    margin-right: 30px;
  }
}

.skill-list__container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 120px;
  background: var(--back-ground-btn);
  border-radius: 4px;
  margin-bottom: 30px;
}

.skill-list__title {
  text-align: center;
  margin-bottom: 10px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--headers-text-color);
}

@media screen and (min-width: 1200px) {
  .skill-list__title {
    text-align: start;
  }
}

.skill-list__description {
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.work-list__container {
  position: relative;
}

.work-list__description {
  position: absolute;
  left: 0;
  bottom: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  width: 100%;
  background: rgba(47, 48, 58, 0.8);
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
}

.activity__title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--headers-text-color);
}

@media screen and (max-width: 1199px) {
  .activity {
    display: none;
  }
}

.section--team {
  background-color: var(--last-section-color);
}

.section__team-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 28px;
  line-height: 33px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--headers-text-color);
}

@media screen and (min-width: 768px) {
  .section__team-title {
    font-size: 36px;
    line-height: 1.2;
  }
}

@media screen and (min-width: 1200px) {
  .team-list {
    display: flex;
  }
}

.team-list__item {
  width: 270px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-list__item:not(:last-child) {
  margin-right: 30px;
}

.team-list__name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--headers-text-color);
}

.team-list__container {
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 30px;
  padding-top: 30px;
}

.team-list__profession {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.social-network-list {
  display: flex;
  align-items: center;
}

.social-network-list__item {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-network-list__item:not(:last-child) {
  margin-right: 10px;
}

.social-network-list__link {
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  fill: var(--fill-color);
  border-radius: 50%;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-network-list__link:hover, .social-network-list__link:focus {
  background: var(--fover-focus-color);
  fill: var(--white-color);
}

.regular-costumers {
  font-size: 28px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--headers-text-color);
  text-align: center;
  margin-bottom: 50px;
}

@media screen and (min-width: 1200px) {
  .regular-costumers {
    font-size: 36px;
    line-height: 1.16;
  }
}

.clients-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

@media screen and (min-width: 1200px) {
  .clients-list {
    flex-wrap: nowrap;
    margin-top: 0;
    margin-left: 0;
  }
}

.clients-list__item {
  width: calc((100% / 2) - 30px);
  height: 92px;
  margin-top: 30px;
  margin-left: 30px;
}

@media screen and (min-width: 768px) {
  .clients-list__item {
    width: 226px;
    height: 92px;
  }
}

@media screen and (min-width: 1200px) {
  .clients-list__item {
    width: 170px;
    margin-top: 0;
    margin-left: 0;
  }
  .clients-list__item:not(:last-child) {
    margin-right: 30px;
  }
}

.clients-list__link {
  border: 1px solid #afb1b8;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  display: flex;
  fill: var(--fill-color);
  width: 100%;
  height: 100%;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list__link:hover, .clients-list__link:focus {
  border-color: var(--fover-focus-color);
  fill: var(--fover-focus-color);
}

.basement {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

.basement__flex-container {
  display: flex;
  align-items: baseline;
}

.basement__container {
  margin-right: 70px;
}

.logo-footer-link {
  display: inline-block;
  margin-bottom: 20px;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.3;
  letter-spacing: 0.03em;
  color: var(--web-logo-color);
  text-decoration: none;
}

.footer-logo {
  color: var(--white-color);
}

.location {
  margin-bottom: 9px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--white-color);
  font-style: normal;
  white-space: nowrap;
  letter-spacing: 0.03em;
}

.footer-contact-list__link {
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-style: normal;
}

.footer-contact-list__items:not(:last-child) {
  margin-bottom: 9px;
}

.fotter-list-container__title {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
}

.footer-social-list {
  display: flex;
}

.footer-social-list__link {
  display: flex;
  background: rgba(255, 255, 255, 0.1);
  fill: var(--white-color);
  width: 44px;
  height: 44px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-list__link:hover, .footer-social-list__link:focus {
  background: var(--fover-focus-color);
}

.footer-social-list__item:not(:last-child) {
  margin-right: 10px;
}

.footer-social-list__icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-list__icon:hover, .footer-social-list__icon:focus {
  fill: var(--white-color);
}

.footer-form-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.footer-form {
  display: flex;
}

.input-container__text {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.footer-form__input {
  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  width: 358px;
  height: 50px;
  padding-left: 5px;
}

.footer-form__input:focus {
  color: rgba(255, 255, 255, 0.6);
}

.footer-form__input::placeholder {
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-form__btn {
  width: 200px;
  height: 50px;
  padding: 0;
  margin-left: 12px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  align-self: flex-end;
  background-color: var(--fover-focus-color);
  border-radius: 4px;
  border: 0;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-color);
}

.footer-form__text {
  margin-right: 10px;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop {
  overflow-y: scroll;
  opacity: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden .modal {
  transform: scale(0.5) translate(-50%, -50%);
}

.modal__close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.modal__close-btn:hover .modal__close-icon,
.modal__close-btn:focus .modal__close-icon {
  fill: var(--fover-focus-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: relative;
  width: 450px;
  height: 609px;
  padding: 40px;
  background: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1200px) {
  .modal {
    position: absolute;
    width: 528px;
    height: 581px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    padding-top: 38px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 42px;
  }
}

.modal__title {
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--headers-text-color);
}

@media screen and (min-width: 1200px) {
  .modal__title {
    line-height: 1.15;
  }
}

.modal-form__input-wrap {
  position: relative;
  margin-bottom: 10px;
}

.modal-form__icon {
  position: absolute;
  left: 12px;
  top: 11px;
}

.modal-form__user-data:focus + .modal-form__icon {
  fill: var(--fover-focus-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__user-data {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  cursor: pointer;
  padding-left: 42px;
  outline: 0;
}

.modal-form__user-data:focus {
  border-color: var(--fover-focus-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__label-wrap {
  margin-bottom: 4px;
  display: inline-block;
}

.modal-form__label {
  font-size: 12px;
  line-height: 0.07;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}

.modal-form__area-label-wrap {
  display: block;
  margin-bottom: 4px;
}

.modal-form__text-area {
  width: 100%;
  height: 120px;
  padding-bottom: 12px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 12px;
  margin-bottom: 20px;
  border-radius: 4px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
}

.modal-form__text-area::placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__check-wrap {
  margin-bottom: 30px;
}

.modal-form__mini-wrap {
  margin-right: 7px;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.modal-form__check:checked + .modal-form__check-label > .modal-form__mini-wrap {
  background-color: var(--fover-focus-color);
  fill: var(--white-color);
}

.modal-form__check:focus + .modal-form__check-label > .modal-form__mini-wrap {
  border-color: var(--fover-focus-color);
}

.modal-form__check-label {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

@media screen and (min-width: 1200px) {
  .modal-form__check-label {
    font-size: 14px;
    line-height: 1.7;
  }
}

.modal-form__contract-link {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-decoration: underline;
  color: var(--fover-focus-color);
}

@media screen and (min-width: 1200px) {
  .modal-form__contract-link {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    line-height: 1.7;
  }
}

.modal-form__button {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.88;
  display: block;
  cursor: pointer;
  letter-spacing: 0.06em;
  color: var(--white-color);
  background-color: var(--fover-focus-color);
  padding-left: 55px;
  padding-right: 55px;
  padding-bottom: 10px;
  padding-top: 10px;
  border: 0;
  border-radius: 4px;
}

.modal-form__button:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__button-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 45px;
}

.btn-list__items:not(:last-child) {
  margin-right: 8px;
}

.btn-list__btn {
  padding: 6px 22px;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  font-family: inherit;
  color: var(--headers-text-color);
  background: var(--back-ground-btn);
  cursor: pointer;
  display: block;
  border: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-list__btn:hover, .btn-list__btn:focus {
  background-color: var(--fover-focus-color);
  color: var(--white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.product-list {
  display: flex;
  margin-left: -30px;
  margin-top: -30px;
  flex-wrap: wrap;
}

.product-list__items {
  margin-top: 30px;
  margin-left: 30px;
  max-width: 370px;
}

.product-list__link {
  display: block;
  width: 100%;
  height: 100%;
  box-shadow: none;
}

.product-list__link:hover, .product-list__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.product-list__thumb {
  position: relative;
  overflow: hidden;
}

.product-list__overlay {
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 63px;
  padding-bottom: 63px;
  padding-left: 24px;
  padding-right: 24px;
  width: 100%;
  height: 100%;
  font-size: 18px;
  line-height: 28px;
  background: rgba(33, 150, 243, 0.9);
  letter-spacing: 0.03em;
  color: #ffffff;
  transform: translatey(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.product-list__link:hover .product-list__overlay,
.product-list__link:focus .product-list__overlay {
  transform: translatey(0);
}

.projects {
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-top: 20px;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

.product {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.03em;
  color: var(--headers-text-color);
  max-width: 100%;
  margin-bottom: 0;
  margin-top: 0;
}

.product-description {
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-top: 0;
  margin-bottom: 0;
}
/*# sourceMappingURL=main.css.map */