.section--team {
  background-color: var(--last-section-color);
}

.section__team-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 28px;
  line-height: 33px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--headers-text-color);
  @media screen and (min-width: 768px) {
    font-size: 36px;
    line-height: 1.2;
  }
}
