.work-list__item {
  @media screen and (min-width: 1200px) {
  }
}
.work-list__container {
  position: relative;
  @media screen and (min-width: 1200px) {
    width: 370px;
    height: 294px;
  }
}
.work-list__description {
  position: absolute;
  left: 0;
  bottom: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  width: 100%;
  background: rgba(47, 48, 58, 0.8);
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--white-color);
}
.activity__title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--headers-text-color);
}
@media screen and (max-width: 1199px) {
  .activity {
    display: none;
  }
}
