.basement {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

.basement__flex-container {
  @media screen and (min-width: 768px) {
    height: 463px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: baseline;
    height: auto;
  }
}

.basement__container {
  @media screen and (min-width: 768px) {
    display: inline-block;
    margin-bottom: 60px;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 70px;
    position: static;
    margin-bottom: 0;
  }
}
