.btn-list {
  display: flex;

  flex-wrap: wrap;
  margin-bottom: 40px;
  @media screen and (min-width: 768px) {
    margin-bottom: 40px;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
  }
}
.btn-list__items:nth-child(-n + 3) {
  @media screen and (max-width: 767px) {
    margin-bottom: 15px;
  }
}
.btn-list__items:not(:last-child) {
  margin-right: 8px;
}
.btn-list__btn {
  padding: 6px 22px;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  font-family: inherit;
  color: var(--headers-text-color);
  background: var(--back-ground-btn);
  cursor: pointer;
  display: block;
  border: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--fover-focus-color);
    color: var(--white-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}
