.logo-footer-link {
  display: inline-block;
  margin-bottom: 20px;

  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.3;
  letter-spacing: 0.03em;
  color: var(--web-logo-color);
  text-decoration: none;
}
.footer-logo {
  color: var(--white-color);
}
