.social-network-list {
  display: flex;
  justify-content: center;
}
.social-network-list__item {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  &:not(:last-child) {
    margin-right: 10px;
  }
}
.social-network-list__link {
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  display: flex;

  fill: var(--fill-color);
  border-radius: 50%;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background: var(--fover-focus-color);
    fill: var(--white-color);
  }
}
