:root {
  --primary-text-color: #757575;
  --web-logo-color: #2196f3;
  --studio-logo-color: #000000;
  --fover-focus-color: #2196f3;
  --headers-text-color: #212121;
  --hero-footer-color: #2f303a;
  --last-section-color: #f5f4fa;
  --button-color: #2196f3;
  --white-color: #ffffff;
  --back-ground-btn: #f5f4fa;
  --fill-color: #afb1b8;
}

$primary-font: Roboto;
$secondary-font: sans-serif;
$logo-font: Raleway;
